@charset "UTF-8";

	#contest table {
		width: 900px;
		margin-top: 20px;
		border-collapse: collapse;
		font-size: 14px;
		margin-bottom: 60px;
	}
	#contest table caption {
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 10px;
		caption-side: top;
	}
	#contest th, #contest td {
		border: 1px solid black;
		padding: 4px 10px;
		text-align: center;
	}
	
	
	#contest .align-left {text-align: left; }
	
	.title { background-color: #d3d3d3; }
	.picnum { width: 10%; }
	.pictitle { width: 15%; }
	.picname { width: 20%; }
	.piccontent { width: 15%; }
	
	/*** 페이지 표시 영역 스타일(시작) ****/
	.paging { 
		list-style: none;
	}
	.paging li { 
		border-radius: 5px 5px 5px 5px;
		float: left;
		margin-right: 8px;
	}
	.paging li a {
		border-radius: 5px 5px 5px 5px;
		text-decoration: none;
		display: block;
		padding: 3px 7px;
		border: 1px solid rgb(192, 192, 192);
		color: black;
		font-weight: bold;
	}
	.paging .disable {
		border: 1px solid silver;
		padding: 3px 7px;
		color: silver;
	}
	.paging .now {
		border: 1px solid rgb(128, 128, 128);
		padding: 3px 7px;
		background-color: rgb(128, 128, 128);
		color: white;
	}
